<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.mapper.DictionarieMapper">
	<select id="dictionarieList" parameterType="com.zyp.util.Pagination"
		resultType="dictionarie">
		SELECT
		id,name,parentId
		from dictionarie LIMIT #{skipNum},#{takeNum}
	</select>
	
	<select id="dictionarieCount" parameterType="com.zyp.util.Pagination"
		resultType="int">
		SELECT COUNT(*) from dictionarie LIMIT #{skipNum},#{takeNum}
	</select>

	<insert id="insertDictionarie" parameterType="dictionarie">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		dictionarie (id,name,parentId)
		VALUES (#{id},#{name},#{parentId})
	</insert>
	<delete id="deleteDictionarie" parameterType="com.zyp.pojo.Dictionarie">
		DELETE FROM dictionarie WHERE id=#{id}
	</delete>
	
	<select id="findIDAndNumber" resultType="com.zyp.custom.SelectCustom" >
		SELECT id value,name name FROM dictionarie
	</select>
	
	<select id="fingUserById" parameterType="string" resultType="com.zyp.pojo.Dictionarie">
	select * from dictionarie where id=#{id}
	</select>
</mapper>