<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.mapper.DriverMapper">
	<select id="driverList" parameterType="com.zyp.util.Pagination"
		resultType="driver">
		SELECT id,number,name,denger,age,idcard,address,phonenumber,drivercardid,driving,starttime,endtime
		from driver LIMIT #{skipNum},#{takeNum}
	</select>
	
	<select id="driverCount" parameterType="com.zyp.util.Pagination"
		resultType="int">
		SELECT COUNT(*) from driver LIMIT #{skipNum},#{takeNum}
	</select>

	<insert id="insertDriver" parameterType="driver">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		driver (id,number,name,denger,age,idcard,address,phonenumber,drivercardid,driving,starttime,endtime)
		VALUES (#{id},#{number},#{name},#{denger},#{age},${idcard},#{address},#{phonenumber},#{drivercardid},#{driving},#{starttime},#{endtime})
	</insert>
	<delete id="deleteDriver" parameterType="com.zyp.pojo.Driver">
		DELETE FROM driver WHERE id=#{id}
	</delete>
	
	<select id="fingDriverById" parameterType="string" resultType="com.zyp.pojo.Driver">
	select * from driver where id=#{id}
	</select>
	
	<update id="updateDriver" parameterType="com.zyp.pojo.Driver">
	UPDATE driver set
	number=#{number},
	name=#{name},
	denger=#{denger},
	age=#{age},
	idcard=#{idcard},
	address=#{address},
	phonenumber=#{phonenumber},
	drivercardid=#{drivercardid},
	driving=#{driving},
	starttime=#{starttime},
	endtime=#{endtime}
	where id=#{id}
	</update>
	<select id="findIDAndNumber" resultType="com.zyp.custom.SelectCustom">
	SELECT id value,name name FROM driver
</select>
</mapper>