<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.mapper.OilMapper">
	<select id="oilList" parameterType="com.zyp.util.Pagination"
		resultType="oil">
		SELECT
		id,driverid,pretime,nowtime,preaoil,oil,oiltype
		from oil LIMIT #{skipNum},#{takeNum}
	</select>
	
	<select id="oilCount" parameterType="com.zyp.util.Pagination"
		resultType="int">
		SELECT COUNT(*) from oil LIMIT #{skipNum},#{takeNum}
	</select>

	<insert id="insertOil" parameterType="Oil">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		oil (id,driverid,pretime,nowtime,preaoil,oil,oiltype)
		VALUES (#{id},#{driverid},#{pretime},#{nowtime},#{preaoil},#{oil},#{oiltype})
	</insert>
	<delete id="deleteOil" parameterType="com.zyp.pojo.Oil">
		DELETE FROM oil WHERE id=#{id}
	</delete>
	
	<select id="fingOilById" parameterType="string" resultType="com.zyp.pojo.Oil">
	select * from oil where id=#{id}
	</select>
	
	<update id="updateOil" parameterType="com.zyp.pojo.Oil">
	UPDATE oil set
	driverid=#{driverid},
	pretime=#{pretime},
	nowtime=#{nowtime},
	preaoil=#{preaoil},
	oil=#{oil},
	oiltype=#{oiltype}
	where id=#{id}
	</update>
</mapper>