<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.mapper.UserMapper">
	<select id="userList" parameterType="com.zyp.util.Pagination"
		resultType="user">
		SELECT
		id,number,username,`password`,`name`,denger,idcard,address,phonenumber
		from `user` LIMIT #{skipNum},#{takeNum}
	</select>
	
	<select id="userCount" parameterType="com.zyp.util.Pagination"
		resultType="int">
		SELECT COUNT(*) from `user` LIMIT #{skipNum},#{takeNum}
	</select>

	<insert id="insertUser" parameterType="user">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		`user`(id,number,username,`password`,`name`,denger,idcard,address,phonenumber)
		VALUES(#{id},#{number},#{username},#{password},#{name},#{denger},#{idcard},#{address},#{phonenumber})
	</insert>
	
	<delete id="deleteUser" parameterType="com.zyp.pojo.User">
		DELETE FROM `user` WHERE id=#{id}
	</delete>
	
	<select id="fingUserById" parameterType="string" resultType="com.zyp.pojo.User">
	select * from user where id=#{id}
	</select>
	
	<update id="updateUser" parameterType="com.zyp.pojo.User">
	UPDATE `user` set
	number=#{number},
	username=#{username},
	idcard=#{idcard},
	name=#{name},
	denger=#{denger},
	address=#{address},
	phonenumber=#{phonenumber}
	where id=#{id}
	</update>
	
	<select id="findIDAndNumber" resultType="com.zyp.custom.SelectCustom" >
	SELECT id value,`name` name FROM `user`
	</select>
</mapper>