<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
    
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
        <bean name="userService" class="com.ssm.service.impl.UserServiceImpl"/>
	 <bean name="noticeService" class="com.ssm.service.impl.NoticeServiceImpl"/>
	<!--<bean name="driverService" class="com.zyp.service.impl.DriverServiceImpl"/>
	<bean name="vinfoService" class="com.zyp.service.impl.VInfoServiceImpl"/>
	<bean name="drecordService" class="com.zyp.service.impl.DrecordServiceImpl"/>
	<bean name="vmaintenanceService" class="com.zyp.service.impl.VMaintenanceServiceImpl"/>
	<bean name="vinspectionService" class="com.zyp.service.impl.VInspectionServiceImpl"/>
	<bean name="oilService" class="com.zyp.service.impl.OilServiceImpl"/>
	<bean name="dictionarieService" class="com.zyp.service.impl.DictionarieServiceImpl"/>
	 -->
</beans>