<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
    
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<bean name="userService"
		class="com.ssm.service.impl.UserServiceImpl" />

	<bean name="noticeService"
		class="com.ssm.service.impl.NoticeServiceImpl" />
	<bean name="complaintService"
		class="com.ssm.service.impl.ComplaintServiceImpl" />
	<bean name="feeService"
		class="com.ssm.service.impl.FeeServiceImpl" />
	<bean name="floorService"
		class="com.ssm.service.impl.FloorServiceImpl" />
	<bean name="ownerService"
		class="com.ssm.service.impl.OwnerServiceImpl" />
	<bean name="repairService"
		class="com.ssm.service.impl.RepairServiceImpl" />
	<bean name="placeService"
		class="com.ssm.service.impl.PlaceServiceImpl" />

</beans>